@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

$font-stack : 'Lato', sans-serif;
$nice-grey-color: #eee;


.body{
    max-width: 1000px;
    margin: 15px auto;
    padding: 0 30px;
    font-family: $font-stack;
    font-weight: 300;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

