<nav class="nav-main">
    <div class="blog-headline">
        <h1>Node.js Blog</h1>
        <p>You can add, update or delete your blogs!</p>
    </div>
    <div class="sign-in-container">
        <a href="/signup" class="btn btn-sign-in">Log Out</a>
        <ion-icon name="arrow-forward" class="arrow-icon"></ion-icon>
    </div>
    <ul>
        <li><a href="/blogs">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/add">Add Blog</a></li>
        <li><a href="#">Your blogs</a></li>
    </ul>
</nav>