<nav class="nav-main">
    <div class="blog-headline">
        <h1>Node.js Blog</h1>
        <p>You can add, update or delete your blogs!</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/add">Add Blog</a></li>
    </ul>
</nav>