<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae eius, sequi placeat dolor dolorum facilis ad ea natus! Necessitatibus accusantium sunt totam aliquam sed ipsam minima facere dignissimos culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae eius, sequi placeat dolor dolorum facilis ad ea natus! Necessitatibus accusantium sunt totam aliquam sed ipsam minima facere dignissimos culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae eius, sequi placeat dolor dolorum facilis ad ea natus! Necessitatibus accusantium sunt totam aliquam sed ipsam minima facere dignissimos culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae eius, sequi placeat dolor dolorum facilis ad ea natus! Necessitatibus accusantium sunt totam aliquam sed ipsam minima facere dignissimos culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae eius, sequi placeat dolor dolorum facilis ad ea natus! Necessitatibus accusantium sunt totam aliquam sed ipsam minima facere dignissimos culpa!</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>