<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Blog</title>
</head>
<body>
    <nav class="nav-main">
        <div class="blog-headline">
            <h1>Node.js Blog</h1>
            <p>You can add, update or delete your blogs!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/add">Add Blog</a></li>
        </ul>
        <div class="blogs-display">
            <h2>All blogs</h2>
        </div>
    </nav>
    
</body>
</html>