@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
body {
  max-width: 1000px;
  margin: 15px auto;
  padding: 0 100px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

p, h1, h2, h3, a, ul {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222222;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 5px;
  font-size: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #a7a7a7;
  text-transform: uppercase;
  position: relative;
}

nav .sign-in-container {
  display: inline-block;
  position: absolute;
  top: .5em;
  right: .2em;
  font-weight: 400;
  font-size: .8em;
  cursor: pointer;
}

nav .sign-in-container .arrow-icon {
  margin: 0;
  margin-left: 10px;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

nav .sign-in-container .btn-sign-in {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .1em;
  -webkit-transition: all .4s;
  transition: all .4s;
  overflow: hidden;
  z-index: 2;
}

nav .sign-in-container .btn-sign-in:before {
  content: "";
  position: absolute;
  top: -.45em;
  left: -20px;
  width: 28%;
  height: 100%;
  padding: .5em .4em;
  background-color: #a8ebc4;
  border-radius: 10em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

nav .sign-in-container:hover .arrow-icon {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

nav .sign-in-container:hover .btn-sign-in::before {
  width: 125%;
  background-color: #2ecc71;
  -webkit-box-shadow: 0px 0px 10px #69dd9a;
          box-shadow: 0px 0px 10px #69dd9a;
}

nav h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

nav p {
  font-size: .7em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;
  margin-left: 1.5em;
}

nav ul a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: .7em;
  font-weight: 400;
  color: black;
}

/*------------- HOME ------------*/
.blog-display {
  position: relative;
}

.blog-display h2 {
  font-size: 20px;
}

.blogs {
  position: relative;
}

.date {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/*------------- ABOUT ------------*/
.about h2 {
  margin-bottom: 25px;
}

/*------------- ADD BLOG ------------*/
.add-blog-form {
  max-width: 400px;
  margin: 0 auto;
}

.add-blog-form input,
.add-blog-form textarea,
.add-blog-form select {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
}

.add-blog-form input,
.add-blog-form select {
  height: 30px;
  font-size: 1.3em;
}

.add-blog-form select {
  font-size: 1em;
  height: 35px;
}

.add-blog-form textarea {
  height: 150px;
}

.add-blog-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-blog-form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  height: 35px;
  background-color: crimson;
  color: white;
  border: transparent;
  cursor: pointer;
}

.add-blog-form form label {
  font-weight: 400;
  letter-spacing: .1em;
}

/*------------- CONTENT SECTION ------------*/
.content {
  line-height: 150%;
  position: relative;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.content h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

.content p {
  margin-bottom: 20px;
  margin-right: 109px;
}

.content .index-categories {
  position: absolute;
  right: .5em;
  top: .5em;
  width: 15em;
  height: 2em;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.content .index-categories:hover {
  -webkit-box-shadow: 1px 0px 3px 2px #afafaf;
          box-shadow: 1px 0px 3px 2px #afafaf;
}

/*------------- EACH BLOG ------------*/
.blogs a {
  display: block;
  border-left: 5px solid #28833b;
  padding: 15px 0;
  padding-left: 20px;
  margin-bottom: 50px;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.blogs a h3 {
  -webkit-transition: color .3s ease-in-out, letter-spacing .2s ease-in-out;
  transition: color .3s ease-in-out, letter-spacing .2s ease-in-out;
}

.blogs a:hover h3 {
  color: #28833b;
  letter-spacing: 1px;
}

.blogs a:hover {
  -webkit-box-shadow: 1px 0px 3px 2px #afafaf;
          box-shadow: 1px 0px 3px 2px #afafaf;
}

/*------------- DETAILS SECTION ------------*/
.details {
  position: relative;
  padding: 15px 20px;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.details:hover {
  -webkit-box-shadow: 1px 0px 3px 2px #afafaf;
          box-shadow: 1px 0px 3px 2px #afafaf;
}

.delete {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 20px;
  top: 30%;
  border-radius: .35em;
  font-size: 1.2em;
  padding: 10px 15px;
  overflow: hidden;
  -webkit-transition: color .2s, -webkit-box-shadow .2s ease-in-out;
  transition: color .2s, -webkit-box-shadow .2s ease-in-out;
  transition: color .2s, box-shadow .2s ease-in-out;
  transition: color .2s, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 3px 2px #afafaf;
          box-shadow: 1px 0px 3px 2px #afafaf;
}

.delete:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ff3b3b;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: will-transform;
          transform: will-transform;
}

.delete:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.delete:hover {
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*------------- FOOTER ------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 100px auto 20px;
}

/************ AUTHOR *****************/
.author {
  word-spacing: .2em;
}

.author p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.author-container p {
  margin-left: 15px;
}

.author-container .author-icon {
  font-size: 1.4em;
}
/*# sourceMappingURL=style.css.map */